<div class="invoice-content-2 bordered">
    <div class="row invoice-head head">
        <div class="col-xs-7">
            <div class="company-address-left">
                <span class="bold uppercase">CÔNG TY TNHH GP CNTT & TT HOÀNG KHANG</span>
                <br/> 188, Đường số 1, Phường 16, Quận Gò Vấp
                <br/> TP. Hồ Chí Minh, Việt Nam
                <br/>
                <span class="bold">Điện thoại: </span> 1800 123 456
                <br/>
                <span class="bold">Email: </span> support@globalnaturesoft.com
                <br/>
                <span class="bold">Website: </span> www.globalnaturesoft.com
                <br/>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="order-detail">
                <span class="bold">Mã số phiếu:</span> PT-001
                <br/>
                <span class="bold">Mã đơn hàng: </span> O-002
                <br/>
                <span class="bold">Ngày đặt hàng: </span> 2017-02-07
                <br/>
                <span class="bold">Hiệu lực đến: </span> 2017-02-21
                <br/>
            </div>
        </div>
    </div>
    <div class="row invoice-head head">
        <div class="col-xs-12">
            <div class="invoice-title title">
                <h1 class="uppercase">Phiếu thu</h1>
                <h2>Ngày 09 tháng 02 năm 2017</h2>
            </div>
        </div>
    </div>
    <div class="row invoice-content">
        <div class="col-xs-7">
            <h2 class="invoice-title title">Người nộp tiền: <strong>Marry Jane</strong></h2>
        </div>
        
        <div class="col-xs-5">
            <h2 class="invoice-title title">Điện thoại: <strong>091 234 5678</strong></h2>
        </div>
        
        <div class="col-xs-12">
            <h2 class="invoice-title title">Địa chỉ: <strong>25, Lorem Lis Street, Orange C, California, US</strong></h2>
        </div>
        <div class="col-xs-12">
            <h2 class="invoice-title title">Lý do nộp tiền: Thanh toán tiền cho đơn hàng</h2>
        </div>
        <div class="col-xs-4">
            <h2 class="invoice-title title">Số tiền: <strong>1,950,000</strong></h2>
        </div>
        <div class="col-xs-8">
            <h2 class="invoice-title title">Viết bằng chữ: <strong>Một triệu chín trăm năm mươi nghìn đồng</strong></h2>
        </div>
        <div class="col-xs-4">
            <h2 class="invoice-title title">Đính kèm đơn hàng: <strong>PT-001</strong></h2>
        </div>
        <div class="col-xs-4">
            <h2 class="invoice-title title">Ngày đặt hàng: <strong>2017-02-07</strong></h2>
        </div>
        <div class="col-xs-4">
            <h2 class="invoice-title title">Hạn thanh toán: <strong>2017-02-21</strong></h2>
        </div>
    </div>
    
    <div class="row sign">
        <div class="col-xs-3 center">
            <h2 class="invoice-title sign title">Người tạo phiếu</h2>
            <span class="inv-sign">(Ký, họ tên)</span>
            <p class="invoice-desc">Super Ad</p>
        </div>
        <div class="col-xs-3 center">
            <h2 class="invoice-title sign title">Người nộp tiền</h2>
            <span class="inv-sign">(Ký, họ tên)</span>
            <p class="invoice-desc">Marry Jane</p>
        </div>
        <div class="col-xs-3 center">
            <h2 class="invoice-title sign title">Kế toán/Thu ngân</h2>
            <span class="inv-sign">(Ký, họ tên)</span>
            <p class="invoice-desc">Super Admin</p>
        </div>
        <div class="col-xs-3 center">
            <h2 class="invoice-title sign title">Giám đốc</h2>
            <span class="inv-sign">(Ký, họ tên, đóng dấu)</span>
            <p class="invoice-desc">ABC </p>
        </div>
    </div>
</div>


<br/>



<div class="invoice-content-2 bordered">
    <div class="row invoice-head">
        <div class="col-md-7 col-xs-6">
            <div class="invoice-logo">
                <img src="http://globalnaturesoft.com/frontend/assets/images/logo_main.png" style="height: 70px" />
                <h1 class="uppercase head">Phiếu thu<br/><span>Số: PT-001</span></h1>
            </div>
        </div>
        <div class="col-md-5 col-xs-6">
            <div class="company-address">
                <span class="bold uppercase">CÔNG TY TNHH GP CNTT & TT HOÀNG KHANG</span>
                <br/> 188, Đường số 1, Phường 16, Quận Gò Vấp
                <br/> TP. Hồ Chí Minh, Việt Nam
                <br/>
                <span class="bold">Điện thoại: </span> 1800 123 456
                <br/>
                <span class="bold">Email: </span> support@globalnaturesoft.com
                <br/>
                <span class="bold">Website: </span> www.globalnaturesoft.com
                <br/>
            </div>
        </div>
    </div>
    <div class="row invoice-content">
        <div class="col-xs-7">
            <h2 class="invoice-title title">Người nộp tiền: <strong>Marry Jane</strong></h2>
        </div>
        
        <div class="col-xs-5">
            <h2 class="invoice-title title">Điện thoại: <strong>091 234 5678</strong></h2>
        </div>
        
        <div class="col-xs-12">
            <h2 class="invoice-title title">Địa chỉ: <strong>25, Lorem Lis Street, Orange C, California, US</strong></h2>
        </div>
        <div class="col-xs-12">
            <h2 class="invoice-title title">Lý do nộp tiền: Thanh toán tiền cho đơn hàng</h2>
        </div>
        <div class="col-xs-4">
            <h2 class="invoice-title title">Số tiền: <strong>1,950,000</strong></h2>
        </div>
        <div class="col-xs-8">
            <h2 class="invoice-title title">Viết bằng chữ: <strong>Một triệu chín trăm năm mươi nghìn đồng</strong></h2>
        </div>
        <div class="col-xs-4">
            <h2 class="invoice-title title">Đính kèm đơn hàng: <strong>PT-001</strong></h2>
        </div>
        <div class="col-xs-4">
            <h2 class="invoice-title title">Ngày đặt hàng: <strong>2017-02-07</strong></h2>
        </div>
        <div class="col-xs-4">
            <h2 class="invoice-title title">Hạn thanh toán: <strong>2017-02-21</strong></h2>
        </div>
    </div>
    
    <div class="row date">
        <div class="col-xs-12">
            <h2 class="invoice-title title">Ngày <i>10</i> tháng <i>02</i> năm <i>2017</i></h2>
        </div>
    </div>
    
    <div class="row sign">
        <div class="col-xs-3 center">
            <h2 class="invoice-title sign title">Người tạo phiếu</h2>
            <span class="inv-sign">(Ký, họ tên)</span>
            <p class="invoice-desc">Super Ad</p>
        </div>
        <div class="col-xs-3 center">
            <h2 class="invoice-title sign title">Người nộp tiền</h2>
            <span class="inv-sign">(Ký, họ tên)</span>
            <p class="invoice-desc">Marry Jane</p>
        </div>
        <div class="col-xs-3 center">
            <h2 class="invoice-title sign title">Kế toán/Thu ngân</h2>
            <span class="inv-sign">(Ký, họ tên)</span>
            <p class="invoice-desc">Super Admin</p>
        </div>
        <div class="col-xs-3 center">
            <h2 class="invoice-title sign title">Giám đốc</h2>
            <span class="inv-sign">(Ký, họ tên, đóng dấu)</span>
            <p class="invoice-desc">ABC </p>
        </div>
    </div>
</div>