<ul>
    <li>Tiền công nợ: <strong><%= format_price(@contact.sales_total_amount) %></strong></li>
    <li>Đã thanh toán: <strong><%= format_price(@contact.sales_paid_amount) %></strong></li>
    <li>Chưa thanh toán: <strong><%= format_price(@contact.sales_debt_amount) %></strong></li>
</ul>