<ul>
    <li>Tiền hoa hồng: <strong><%= format_price(rand(12450..30000)*1000) %></strong></li>
    <li>Hoa hồng đã chi: <strong><%= format_price(rand(12450..30000)*1000) %></strong></li>
    <li>Hoa hồng chưa chi: <strong><%= format_price(rand(12450..30000)*1000) %></strong></li>
</ul>